# Managed by Ansible - b08x.workstation
OPENROUTER_API_KEY={{ vault_openrouter_api_key | default() }}
TELEGRAM_BOT_TOKEN={{ vault_telegram_bot_token | default() }}
# Make sure to map uid/gid if needed inside container
HERMES_UID=1000
HERMES_GID=1000
