POSTGRES_USER=postgres
POSTGRES_PASSWORD={{ vault_postgres_password | default(ai_postgres_password) }}
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD={{ vault_clickhouse_password | default(ai_clickhouse_password) }}
