# Managed by Ansible
# DB Connections
DB_USERNAME=postgres
DB_PASSWORD={{ ai_dify_db_password }}
DB_HOST=ai-postgres
DB_PORT=5432
DB_DATABASE=postgres

# Redis
REDIS_HOST=ai-redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Security
SECRET_KEY={{ vault_dify_secret_key | default(ai_dify_secret_key) }}

# Dify Services Resolvable inside ai-net
API_URL=http://dify-api:5001
CONSOLE_API_URL=http://dify-api:5001
APP_API_URL=http://dify-api:5001
